extends layout

block content
  script.
    var tm = document.getElementById("dbregistermenu");
    tm.setAttribute("class","active item")
  div(class="ui segment")
    h2 record delete Finished! 

    div(class="ui divider")
    p
      button(class="ui primary button", onclick="location.href='/dbselect'") Back to the list
    p
      button(class="ui negative button", onclick="location.href='/'") Back to Top