extends layout

block content
  div(class="ui center aligned text container")
    div(class="ui center aligned row")
      h1 Not Found!
      //button(class="ui negative button", onclick="javascript:window.location.href='/'") Back to home